.person-name {
  margin-top: 10px;
}

.person-talk {
  text-decoration: none !important;
}

.news-box {
  background-color: var(--news-background);
  padding: 15px;
  border-radius: 18px;
}
.news-img {
  border-radius: 16px;
}
@media (min-width: 992px) {
  .col-lg-3 {
    max-width: 23%;
  }
}

@media (max-width: 991px) {
  .col-lg-3 {
    margin-top: 20px;
  }
}

.news-title {
  font-weight: bold;
  font-size: 16px;
}

.news-link {
  font-size: 14px;
  text-decoration: none;
  color: var(--news-body);
}

.news-link h5 {
  color: var(--news-title);
}
.news-link a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}
/* #partners_list img {
    filter: grayscale(100%);
    opacity: 0.4;
    transition: filter 0.3s ease-in-out;
} */

/* #partners_list img:hover {
    filter: grayscale(0%);
    opacity: 1;
} */

#partners_list .section-content {
  padding-top: 2% !important;
}
