h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

a {
  color: var(--link) !important;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--body-less) !important;
  transition: all 0.5s !important;
}

.label {
  color: var(--background-alt);
}
.value {
  color: var(--background-alt);
}

blockquote {
  font-family: "Lato";
  font-size: 0.97em;
}

table,
tr,
td {
  border: 0.5px solid gray;
  border-collapse: collapse;
  padding: 15px;
}

table,
tr,
td,
th {
  text-align: center;
}

th {
  background: lightgray;
}
td,
th {
  word-wrap: break-word;
  max-width: 300px;
}

.align-middle {
  margin: 0 auto;
}
/* 
.venue-sec-title {
  background-color: var(--section-bg-color);
  font-size: 1.2em;
  font-weight: lighter;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 250px;
  text-align: center;
} */

#footnotes li {
  font-size: 0.8em;
  padding: 0px;
}
